<app-base>

</app-base>
<ng-container *ngIf="provider.isAuthenticated()">
  CREATE CONTACT:
  <div>
    <input type="text" [(ngModel)]="name" />
    <input type="text" [(ngModel)]="phone" />
    <button (click)="createContact()">Create</button>
  </div>

  Contacts
  <ng-container *ngIf="!loading">
    Loading...
  </ng-container>

  <ng-container *ngIf="loading">
    <div>
      <div *ngFor="let c of contacts">
        <input type="text" [(ngModel)]="c.name" />
        <input type="text" [(ngModel)]="c.phone" />
        <button style="color: red" (click)="deleteContact(c)"> Удалить</button>
        <button style="color: green" (click)="updateContact(c)"> Изменить</button>
      </div>
    </div>
  </ng-container>

  <br/>

</ng-container>
